//user-home {
    
    ion-content{
    --background: rgb(255,255,255);
--background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1)50%, rgba(88,77,195,1) 50%, rgba(50,128,229,1) 100%) !important;
}
ion-toolbar{
    --background-color:#f00;
}
.logoWrap{
    display: flex;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    margin: 30px auto;
    width: 80px;
}
//}s