//user-home {
    
    ion-content{
    --background: rgb(255,255,255);
--background: linear-gradient(to bottom,#3280e5 0px, #222b94 210px,#ffffff 210px, #ffffff) !important;
}
 
.logoWrap{
    display: flex;
    border-radius: 6px;
    background: #fff;
    padding: 8px;
    margin: 25px auto;
    width: 90px;
}
//}s2849b1