<ion-toolbar color="toolbar">
  <ion-buttons slot="start">
    <ion-icon name="chevron-back-outline" slot="end" (click)="onBackButton()"></ion-icon>
  </ion-buttons>
  <!-- <ion-icon name="arrow-back-outline" (click)="onBackButton()"></ion-icon> -->
  <ion-title><small>{{actionType}} Company</small> </ion-title>
</ion-toolbar>
<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Company Name</ion-label>
      <ion-input type="text" required [(ngModel)]="cModel.CompanyName" name="CompanyName"></ion-input>
    </ion-item>
    <ion-card class="cardWrap">
      <!-- <ion-card-header>
        <ion-card-title>Primary Contact</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-card-subtitle> Primary Contact:</ion-card-subtitle>
        <ion-item color="ligherblue">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required [(ngModel)]="cModel.FirstContactName" name="Name"></ion-input>
        </ion-item>
        <ion-item color="ligherblue">
          <ion-label position="floating">Mobile</ion-label>
          <ion-input type="text" required [(ngModel)]="cModel.FirstContactMobile" name="FirstContactMobile"></ion-input>
        </ion-item>
        <ion-item color="ligherblue">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required [(ngModel)]="cModel.FirstContactEmail" name="FirstContactEmail"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-title>Secondary Contact</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-card-subtitle>Secondary Contact:</ion-card-subtitle>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" required [(ngModel)]="cModel.SecondContactName" name="SecondContactName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mobile</ion-label>
      <ion-input type="text" required [(ngModel)]="cModel.SecondContactMobile" name="SecondContactMobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required [(ngModel)]="cModel.SecondContactEmail" name="SecondContactEmail"></ion-input>
    </ion-item>
    </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating"> Location</ion-label>
      <ion-input type="text" required [(ngModel)]="cModel.CompanyLocation" name="CompanyLocation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nature Of Business</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="cModel.NatureOfBusiness" name="BuisunessNature">
        <ion-select-option value="b2b">B2C</ion-select-option>
        <ion-select-option value="b2c">B2B</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">GST Number</ion-label>
      <ion-input type="GST Number" required [(ngModel)]="cModel.GSTNumber" name="FirstName"></ion-input>
    </ion-item>
    <ion-button type="submit" color="toolbar" (click)="onSubmit()">Save</ion-button>
  </form>
</ion-content>