<ion-grid>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-margin">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-text-center">
          <ion-icon size="large" color="toolbar" name="speedometer"></ion-icon>
          <ion-card-subtitle>            
            Company
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-margin">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-text-center"> 
          <ion-icon size="large" color="toolbar" name="person"></ion-icon>
          <ion-card-subtitle>Sales Person</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-margin">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-text-center">
          <ion-icon size="large" color="toolbar" name="clipboard"></ion-icon>
          <ion-card-subtitle>Invoice</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-margin">
      <ion-card class="ion-no-margin">
        <ion-card-header class="ion-text-center">
          <ion-icon size="large" color="toolbar" name="information-circle-outline"></ion-icon>
          <ion-card-subtitle>Info</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>