<ion-toolbar>
  <ion-icon name="arrow-back-outline" (click)="onBackButton()"></ion-icon>
  <ion-title>{{actionType}} Purchase Invioce</ion-title>
</ion-toolbar>
<form>
  <div *ngIf="showInvoice">
    <ion-item>
      <ion-label position="floating">Purchase Invoice Number</ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.PurchaseInvoiceNumber" name="sModel.PurchaseInvoiceNumber">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Purchase Date </ion-label>
      <ion-datetime displayFormat="MMM DD YY" required placeholder="Select Date"
        [(ngModel)]="sModel.PurchaseInvoiceDate" name="sModel.PurchaseInvoiceDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Seller </ion-label>
      <ion-select placeholder="Select Seller" [(ngModel)]="sModel.Seller" name="sModel.Seller">
        <ion-select-option *ngFor="let c of companies" [value]="c.CompanyName">{{c.CompanyName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Buyer </ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.Buyer" name="sModel.Buyer"></ion-input>
    </ion-item>
<ion-item>
  <ion-label position="floating">products </ion-label>
<ion-label position="floating" *ngFor="let p of products">
  {{p.Product }} <!-- +"--" + p.Quantity +"--" + p.Amount + "--" p.GST + "--" -->
</ion-label>
  
</ion-item>


    <ion-item>
      <ion-label position="floating">Total Amount</ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.TotalAmount" name="sModel.TotalAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Discount</ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.Discount" name="sModel.Discount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Net Amount</ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.NetAmount" name="sModel.NetAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ModeOfPayment</ion-label>
      <ion-input type="text" required [(ngModel)]="sModel.ModeOfPayment" name="sModel.ModeOfPayment"></ion-input>
    </ion-item>

    <ion-button type="ion-button" color="primary" (click)="addProduct()">Add Product</ion-button>
    <ion-button type="submit" color="primary" (click)="onSubmit()">Save</ion-button>
  </div>

  <div *ngIf="!showInvoice">
    <ion-item>
      <ion-label position="floating">Product</ion-label>
      <ion-input type="text" required [(ngModel)]="product.Product" name="product.Product"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="text" required [(ngModel)]="product.Quantity" name="product.Quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="text" required [(ngModel)]="product.Amount" name="product.Amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">GST</ion-label>
      <ion-input type="text" required [(ngModel)]="product.GST" name="product.GST"></ion-input>
    </ion-item>
    <ion-button type="submit" color="primary" (click)="productOperation()">Add Product</ion-button>
  </div>
</form>