<form>
  <ion-item>
    <ion-label position="floating">First name</ion-label>
    <ion-input type="text" required [(ngModel)]="uModel.FirstName" name="FirstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last name</ion-label>
    <ion-input type="text" required [(ngModel)]="uModel.LastName" name="LastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email id</ion-label>
    <ion-input type="email" required [(ngModel)]="uModel.EmailID" name="EmailID"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required [(ngModel)]="uModel.Password" name="Password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">GST Number</ion-label>
    <ion-input type="text" required [(ngModel)]="uModel.GSTNumber" name="GSTNumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Industry</ion-label>
    <ion-input type="text" required [(ngModel)]="uModel.Industry" name="Industry"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Business nature </ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="uModel.BuisunessNature" name="BuisunessNature">
      <ion-select-option value="b2b">B2C</ion-select-option>
      <ion-select-option value="b2c">B2B</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input type="text" required [(ngModel)]="uModel.Address" name="Address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile</ion-label>
    <ion-input type="tel" required [(ngModel)]="uModel.Mobile" name="Mobile"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Landline</ion-label>
    <ion-input type="tel" required [(ngModel)]="uModel.LandLine" name="LandLine"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="registerUser()">Register</ion-button>
</form>
