<div class="loginBG">
  <form [formGroup]="registerForm" >
   <ion-item lines="none">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" formControlName="Username"></ion-input>
    <div *ngIf="registerForm.controls['Username'].touched &&
    registerForm.controls['Username'].invalid"
    class="alert-danger">
 <div *ngIf="registerForm.controls['Username'].errors &&
 registerForm.controls['Username'].errors.required" class="invalid-feedback">
 <ion-text color="danger"> Username is required.</ion-text></div>
</div>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="Password" name="Password"></ion-input>
    
    <div *ngIf="registerForm.controls['Password'].invalid &&  registerForm.controls['Password'].touched" class="invalid-feedback">
      <ion-text color="danger" *ngIf="registerForm.controls['Password'].errors.required">Password is required</ion-text>
      </div>
  </ion-item>
   <ion-item lines="none">
    <ion-label position="floating">Company Name</ion-label>
    <ion-input type="text" formControlName="CompanyName" name="CompanyName"></ion-input>
    
    <div *ngIf="registerForm.controls['CompanyName'].invalid &&  registerForm.controls['CompanyName'].touched" class="invalid-feedback">
      <ion-text color="danger" *ngIf="registerForm.controls['CompanyName'].errors.required">Company name is required</ion-text>
      </div>
  </ion-item>
   <ion-item lines="none">
    <ion-label position="floating">Email id</ion-label>
    <ion-input type="email" formControlName="EmailID" name="EmailID"></ion-input>
    <div *ngIf="registerForm.controls['EmailID'].invalid &&  registerForm.controls['EmailID'].touched" class="invalid-feedback">
      <ion-text color="danger" *ngIf="registerForm.controls['EmailID'].errors.required">Email is required</ion-text>
        <ion-text color="danger" *ngIf="registerForm.controls['EmailID'].errors.email">Email must be a valid email address</ion-text>
  </div>
  </ion-item>
   <ion-item lines="none">
    <ion-label position="floating">Mobile</ion-label>
    <ion-input type="tel" formControlName="Mobile" name="Mobile"></ion-input>
    <div *ngIf="registerForm.controls['Mobile'].invalid &&  registerForm.controls['Mobile'].touched" class="invalid-feedback">
      <ion-text color="danger" *ngIf="registerForm.controls['Mobile'].errors.required">Mobile is required</ion-text>
            <ion-text color="danger" *ngIf="registerForm.controls['Mobile'].errors.Pattern">Only Number is allowed</ion-text>
        <ion-text color="danger" *ngIf="registerForm.controls['Mobile'].errors.maxlength">Mobile number must be 10 characters</ion-text>
  </div>
  </ion-item>
  <ion-button color="fybutton" shape="round" class="ion-text-capitalize" [disabled]="registerForm.invalid" (click)="registerUser()" size="small">Register
  </ion-button>

  <!-- (click)="registerUser()" -->
</form>
</div>
<div class="alRegTxt"><ion-text >Already Register? <a routerLink="/user/login">Login here</a></ion-text></div>
