ion-toolbar-content{
    display: flex;
}
ion-toolbar{
    
    --background: #222b94;
--background: linear-gradient(to bottom,#3280e5 0px, #222b94 20px) !important;
}
.headerBG{ 
background: #6200ee; /* Old browsers */
background: -moz-linear-gradient(left,  #6200ee 0%, #1b2896 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #6200ee 0%,#1b2896 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #6200ee 0%,#1b2896 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6200ee', endColorstr='#1b2896',GradientType=1 ); /* IE6-9 */

}