<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" slot="end" (click)="onBackButton()"></ion-icon>
    </ion-buttons>
    <!-- <ion-title *ngIf="showSelected"><small>{{selectedSalesPerson.Name}}</small></ion-title> -->
    <ion-title><small>{{actionType}} Sales Person</small></ion-title>
    <ion-buttons slot="end" *ngIf="showSelected" class="ion-padding-end" (click)="navigate('/home/salesPerson/edit')">
      <ion-icon name="create-outline" slot="end" ></ion-icon>
    </ion-buttons> 
    <!-- <ion-buttons slot="end" *ngIf="!showSelected" class="ion-padding-end" (click)="navigate('/home/salesPerson/add')">
      <ion-icon name="add" slot="end"></ion-icon>
    </ion-buttons>  -->
  </ion-toolbar>
</ion-header> 
<ion-content>
<form>
  <ion-item lines="none">
    <ion-label position="floating">Name </ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Name" name="Name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Mobile </ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Mobile1" name="Mobile1"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Mobile </ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Mobile2" name="Mobile2"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Email" name="Email"></ion-input> 
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Aadhar Number</ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Aadhar" name="Aadhar"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Salary</ion-label>
    <ion-input type="text" required [(ngModel)]="sModel.Salary" name="Salary"></ion-input>
  </ion-item>
  <ion-button type="submit" color="toolbar" (click)="onSubmit()">Save</ion-button>
</form>
</ion-content>