
<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
    <ion-icon name="chevron-back-outline" slot="end" *ngIf="showSelected" (click)="onBackPressed()"></ion-icon>
  </ion-buttons>
  <ion-title><small>{{companyName}}</small></ion-title>
  <ion-buttons slot="end" *ngIf="showSelected" class="ion-padding-end">
    <ion-icon name="create-outline" slot="end" (click)="navigate('/home/company/edit')"></ion-icon>
  </ion-buttons> 
  <ion-buttons slot="end" *ngIf="!showSelected" class="ion-padding-end">
    <ion-icon name="add" slot="end" (click)="navigate('/home/company/add')"></ion-icon>
  </ion-buttons> 
 </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-list *ngIf="!showSelected">
      <ion-item *ngFor="let company of companyData;let i=index">
        <ion-label (click)="showSelectedCompany(i);">
          <h3>{{company.CompanyName}}</h3>
          <h6>{{company.CompanyLocation}}</h6>
        </ion-label>        
      </ion-item>
    </ion-list>

    <ion-list *ngIf="showSelected">
      <ion-item *ngFor="let ky of companyLabels">
        <ion-label class="mlabel">
          <span class="lblTitle">{{companyKeyLabels[ky]}}</span>
          <span class="lblValue">{{selectedCompany[ky]}}</span>
        </ion-label>        
      </ion-item>
    </ion-list>
</ion-content>
