<ion-header>
  <ion-toolbar class="toolbar-style">
    <ion-buttons slot="start" class="btnWrap">
      <ion-icon name="chevron-back-outline" slot="end" (click)="onBackButton()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" slot="end" *ngIf="showSelected" (click)="onBackPressed()"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="showSelected" class="ion-text-center">{{selectedSalesPerson.name}}</ion-title>
    <ion-title *ngIf="!showSelected" class="ion-text-center">Sales Persons</ion-title>
    <ion-buttons slot="end" *ngIf="showSelected" class="ion-padding-end" (click)="navigate('/sales-person/edit')">
      <ion-icon name="create-outline" slot="end" ></ion-icon>
    </ion-buttons> 
    <ion-buttons slot="end" *ngIf="!showSelected" class="ion-padding-end" (click)="navigate('/sales-person/add')">
      <ion-icon name="add" slot="end"></ion-icon>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content color="toolbar">
  <ion-list *ngIf="!showSelected" lines="none" class="ion-no-padding">
    <ion-item *ngFor="let salesPerson of salesPersonData;let i=index" class="listWrap ion-no-padding">
      <!-- <div class="listWrap"> -->
        <ion-grid>
          <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <h3 class="lblTitle">{{salesPerson.name}}</h3>
            <p class="lblValue">{{salesPerson.address}}</p>
          </ion-col>
          <ion-col size="4">
            <h3 class="lblTitle">{{salesPerson.mobile1}}</h3>
            <p class="lblValue">{{salesPerson.email}}</p>
          </ion-col>
          <ion-col size="2">
            <ion-icon color="primary" name="create-outline" class="ion-margin-end" (click)="navigate('/sales-person/edit')"></ion-icon>
            <ion-icon color="danger" name="trash-outline" (click)="fnDelete(salesPerson.id)"></ion-icon>
          </ion-col>
        </ion-row>
        </ion-grid>
      <!-- </div>  -->
<!-- 

      <ion-label (click)="showSelectedsalesPerson(i);">
        <h3>{{salesPerson.name}}</h3>          
      </ion-label>         -->
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showSelected">
    <ion-item *ngFor="let ky of salesPersonLabels">        
      <ion-label class="mlabel">
        <span class="lblTitle">{{salesPersonKeyLabels[ky]}}</span>
        <span class="lblValue">{{selectedSalesPerson[ky]}}</span>
      </ion-label>  
    </ion-item>
  </ion-list>
</ion-content>
