<ion-header>
  <!-- <ion-toolbar>
    <ion-title>buyerSeller</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="toolbar-style">
    <ion-buttons slot="start" class="btnWrap">
      <ion-icon name="chevron-back-outline" slot="end" (click)="onBackButton()"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start" class="btnWrap" *ngIf="showSelected">
      <ion-icon name="chevron-back-outline" slot="end" (click)="onBackPressed()"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">{{companyName}}</ion-title>
    <!-- <ion-buttons slot="end" *ngIf="showSelected" class="ion-padding-end">
      <ion-icon name="create-outline" slot="end" (click)="navigate('/home/company/edit')"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="end" *ngIf="!showSelected" class="ion-padding-end">
      <ion-icon name="add" slot="end" (click)="navigate('/buyer-seller/add')"></ion-icon>
    </ion-buttons>
    
   </ion-toolbar> 

</ion-header>

<ion-content color="toolbar">
  <ion-list *ngIf="!showSelected" class="ion-no-padding">
    <ion-item *ngFor="let company of companyData;let i=index" lines="none" class="listWrap ion-no-padding">
      <!-- (click)="showSelectedCompany(i);" -->
      <!-- <div class="listWrap"> -->
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <h3 class="lblTitle">{{company.name}}</h3>
              <p class="lblValue">{{company.address}}</p>
            </ion-col>
            <ion-col size="4">
              <h3 class="lblTitle">{{company.firstContactName}}</h3>
              <p class="lblValue">{{company.firstContactMobile}}</p>
            </ion-col>
            <ion-col size="2">
              <ion-icon color="primary" name="create-outline" class="ion-margin-end" (click)="navigate('/buyer-seller/edit')"></ion-icon>
              <ion-icon color="danger" name="trash-outline" (click)="fnDelete(company.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      <!-- </div> -->
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showSelected">
    <ion-item *ngFor="let ky of companyLabels">
      <ion-label class="mlabel">
        <span class="lblTitle">{{companyKeyLabels[ky]}}</span>
        <span class="lblValue">{{selectedCompany[ky]}}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
